NEXT_PUBLIC_PRINCIPAL_VAULT=0x
NEXT_PUBLIC_LOTTERY_TREASURY=0x
NEXT_PUBLIC_POSITION_MANAGER=0x
NEXT_PUBLIC_USDC=0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913
NEXT_PUBLIC_CHAIN=base
NEXT_PUBLIC_WC_PROJECT_ID=
